*.ipynb*
*.pyc
*.swp

.DS_Store
.idea/
.pytest_cache/
.vscode/

__pycache__/
data/*
!data/items_shuffle_1000.json
!data/items_ins_v2_1000.json
!data/items_human_ins.json
search_engine/indexes*
search_engine/resources*
transfer/flagged
user_session_logs/


*_err_*.log